<header class="header">
  <div class="container header__container">
    <a href="./#home" class="logo">
      <div class="logo__icon"></div>
      <span class="logo__text">Yield<span class="logo__text--alt">Scope</span></span>
    </a>

    <nav class="nav" id="nav-menu">
      <ul class="nav__list">
        <li><a href="./#home" class="nav__link">Главная</a></li>
        <li><a href="./#about" class="nav__link">О платформе</a></li>
        <li><a href="./#benefits" class="nav__link">Преимущества</a></li>
        <li><a href="./#innovations" class="nav__link">Инновации</a></li>
        <li><a href="./#blog" class="nav__link">Блог</a></li>
        <li class="mobile-only"><a href="./#contact" class="nav__link">Связаться</a></li>
      </ul>
    </nav>

    <a href="./#contact" class="btn btn--outline header__cta">Связаться</a>

    <button class="burger" id="burger-menu" aria-label="Открыть меню">
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>